@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root{
--bg:#0f0f0f;
--grey:#222;
--white:#fff;
--purple:#6a00ff;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:var(--bg);
color:var(--white);
height:100vh;
overflow:hidden;
}

header{
position:fixed;
top:0;
width:100%;
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 30px;
background:#111;
border-bottom:1px solid #1a1a1a;
z-index:10;
}

.logo{
width:26px;
height:26px;
background:var(--purple);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
cursor:pointer;
}

nav{
display:flex;
gap:18px;
}

nav button, .controller-btn{
background:transparent;
border:none;
color:#bbb;
cursor:pointer;
font-size:15px;
transition:.3s;
}

nav button:hover, .controller-btn:hover{
color:var(--white);
text-shadow:0 0 10px var(--purple);
}

main{
margin-top:70px;
height:calc(100vh - 70px);
overflow-y:auto;
padding:40px;
max-width:850px;
margin-inline:auto;
line-height:1.7;
color:#ccc;
}

.fade{
opacity:1;
transition:.4s;
}

.fade.hide{
opacity:0;
}

.contact-box{
    position:fixed;
    bottom:20px;
    right:20px;
    width:180px;
    border-radius:12px;
    background:#111;
    overflow:hidden;
    transition:0.35s ease;
}

.contact-toggle{
    background:var(--purple);
    padding:10px;
    cursor:pointer;
    text-align:center;
    font-weight:500;
}

.contact-content{
    max-height:0;
    overflow:hidden;
    padding:0 15px;
    font-size:13px;
    transition:max-height 0.35s ease, padding 0.35s ease;
}

.contact-box.open .contact-content{
    max-height:120px;
    padding:12px 15px 15px 15px;
}

.contact-content a{
    color:var(--purple);
    text-decoration:none;
}


h2 {
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 28px;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 8px rgba(106,0,255,0.6);
}

